.App {
  margin: 0;
  padding: 2%;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: beige;
  .screen {
    width: 100%;
    height: 100%;
    background-color: white;
    outline: 1px solid black;
    position: relative;
    & > * {
      position: absolute;
    }
    .sun-image, .earth-image {
      width: 3%;
      transform: translate(-50%, -50%);
    }
    .sun-image {
      top: 50%;
      left: 50%;
    }
  }
  * {
    display: block;
  }
}